* {
	box-sizing: border-box;
}

body {
	font-family: arial;
}

h1 {
	color: #1269A2;
}

h4 {
	font-size: 1.2em;
}

input {
	border: 2px solid orange;
	font-size: 1.25em;
	padding: 10px;
}

.save-button {
	height: 35px;
	width: 90px;
	background-color: #1269A2;
	color: white;
	font-weight: bolder;
}

